*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.mainWrapper{
    background-color:#E6F3F6;
    margin: 0px 35px;
    width: 1440px;
    margin-left: 200px;
    height : 906px;

}
.logo{
    width: 195px;
    padding-top: 20px;
}
.loginText h1{
    text-align: right;
    font-size :70px;
    padding-right : 350px;
    padding-bottom: 10px;
}
.content{
    display:flex;
    gap: 40px;
    padding-left: 78px;
    /* justify-content: space-between; */
    
}
.board{
    background-color:#ffffff ;
    border-radius: 20px;
    height: 335px;
    width:597px ;
    justify-content: center;
    justify-items: center;

}
.text h2{
    text-align:center;
    padding-top:20px;
}
.imageAndText p {
    /* filter: blur(1px); */
    padding-top: 20px;
}
.board #box{
    height : 50px;
    width : 504px;
    border-radius:10px;
    font-size: larger;
    border : none;
}
.board #submit{
    height : 40px;
    width : 115px;
    background-color:#42AA7B;
    border-radius: 12px;
    border: none

}

