*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.mainWrapper{
    background-color:#E6F3F6;
    margin: 0px 35px;
    width: 1434px;
    margin-left: 200px;
    height : 1499px;

}
.logo{
    height: 355px;;
    width: 195px;
    padding-top: 20px;
}
.signupText h1{
    text-align: center;
    font-size :70px;
}
.content{
    display:flex;
}
.board{
    background-color:#ffffff ;
    border-radius: 20px;
    height: 764px;
    width:666px ;

}