*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.mainWrapper{
    color:#F0F0F0;
    margin: 0px 35px;
}
.logo{
    height: 10px;
}

.navBar{
    display: flex;
    justify-content: space-between;
    
    
    
}
.navLink ul {
    list-style: none;
    display: flex;
    width: 600px;
    justify-content: space-between;
    padding-top: 100px;
    padding-right:100px
    
}
.line p {
    padding-left :200px;

}
.navlink{
    height:12px;
}
.buttons{
    
    padding-top:80px;
    width: 100px;
}
.buttons #loginButton{
    background-color : #6FC5DA;
    color: #ffffff;
    border-radius: 2px;
    border : none;
    height:40px;
    width: 100px;

}
.welcomeText h5{
    text-align: center;
    color: black;
    font-size:65px;
}
.welcomeText p{
    text-align: center;
    size: 10px;
    padding-top: 30px;
}
.welcomeText p:hover {
    /* width: 300px; */
    transition: width 2s, height 4s;
  }
.heroimage{
    display: flex;
    justify-content: center;
    padding-top :40px;
}
.logoImage #logo{
   filter: blur(2px)
}
.centerdText h3 ,h1 {
    text-align: center;
    color: black;
    font: 400;
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}



