*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.mainWrapper{
    background-color:#F0F0F0;
    margin: 0px 35px;
    width: 1434px;
    margin-left: 200px;
    

}
.logo{
    height: 10px;
}

.navBar{
    display: flex;
    justify-content: space-between;
    width: 1300px;
    padding-left: 40px;

    
}
.navLink ul {
    list-style: none;
    display: flex;
    width: 600px;
    justify-content: space-between;
    padding-top: 100px;
    padding-right:100px
    
}
/* .line p {
    padding-left :200px;

} */
.navlink{
    height:12px;
}
.button{
    padding-top:80px;
    width: 100px;
}
.button #login{
    background-color : #6FC5DA;
    color: #ffffff;
    border-radius: 2px;
    border : none;
    height:40px;
    width: 100px;

}
.welcomeText h5{
    text-align: center;
    color: black;
    font-size:65px;
}
.welcomeText p{
    text-align: center;
    size: 10px;
    padding-top: 30px;
}
.welcomeText p:hover {
    position:sticky;
    color:#F0F0F0 ;
  }
.heroimage{
    display: flex;
    justify-content: center;
    padding-top :40px;
}
.logoImage #logo{
   filter: blur(2px)
}
.logoImage{
background-color: #ffffff;
}
.centerdText h3 ,h1 {
    text-align: center;
    color: black;
    font: 400;
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#signUpButton{
    background-color: #42AA7B;
    border: none;
    color: #ffffff;
    width: 120px;
    height: 35px;
    border-radius: 3px;

}
.logoImage p{
    text-align: center;
    padding-bottom: 20px;
}
.storyText{
    color:black;
    text-align: center;
    padding-top:40px;

}
.wrap{
    background-color :rgb(38, 37, 37) ;
}

@keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @media (prefers-reduced-motion: no-preference) {
    .welcomeText p{ 
      animation: logo-spin infinite 20s linear;
    }
  }  

.scrollButton{

    background-color:  black;
    height: 20px;
    width: 20px;
  }
.activeBids-container {
    justify-content: space-between;
    display: flex;
    
}
.biddingImages-container {
    background-color: #333;
    padding: 10px;
  }
  
  .biddingImages-container img {
    padding: 10px;
  }
